@using _1721031291_DaoHoangNhi.Models;
@model NhaCungCap

<div class="container">
    <h3>Create - Nhà cung cấp</h3>
    <form method="post">
        <labet>Tên nhà cung cấp: </labet>
        <input asp-for="Ten" type="text" disabled class="form-control" />

        <labet>Địa chỉ: </labet>
        <input asp-for="DiaChi" type="text" disabled class="form-control" />

        <labet>Số điện thoại: </labet>
        <input asp-for="SDT" type="text" disabled class="form-control" />

        <a asp-action="Index" class="btn btn-primary mt-2">Trở về</a>
    </form>
</div>