@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>CSS Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        /* Style the header */
        .header {
            background-color: #666;
            padding: 30px;
            text-align: center;
            font-size: 35px;
            color: white;
        }

        /* Create two columns/boxes that floats next to each other */
        .nav {
            float: left;
            width: 30%;
            height: 300px; /* only for demonstration, should be removed */
            background: #ccc;
            padding: 20px;
        }

            /* Style the list inside the menu */
            .nav ul {
                list-style-type: none;
                padding: 0;
                align-items: center;
            }

        .article {
            float: left;
            padding: 20px;
            width: 70%;
            background-color: #f1f1f1;
            height: 300px; /* only for demonstration, should be removed */
        }

        /* Clear floats after the columns */
        section::after {
            content: "";
            display: table;
            clear: both;
        }

        /* Style the footer */
        .footer {
            background-color: #777;
            padding: 10px;
            text-align: center;
            color: white;
        }

        /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
        @@media (max-width: 600px) {
            .nav, .article {
                width: 100%;
                height: auto;
            }
        }
    </style>
</head>
<body>

    <div class="header">
        <h2>Bài Tập</h2>
    </div>

    <section>
        <div class="nav" style="
        display: flex;
    align-content: center;
    justify-content: center;
}
">
            <ul style="
        display: flex;
    flex-direction: column;
    ">
                <li>@ViewBag.HoTen</li>
                <li>@ViewBag.MSSV</li>
            </ul>
        </div>

        <div class="article" style="display: flex;
    flex-direction: column;
    align-items: center;">
            <a href="/Tuan02/Profile"><img src="~/img/img.jpg" width="150px" height="200px" style="vertical-align: middle" /></a>
            <p>Hello, my name is Nhi, i'm studing Information Technologi in DNTU</p>
        </div>
    </section>

    <div class="footer">
        <p>@@copyright Đào Hoàng Nhi - @ViewBag.Nam</p>
    </div>

</body>
</html>
