@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="card text-center">
    <div class="card-header h1">
        @Model.TenSanPham
    </div>
    <div class="card-body">
        <img class="card-title " src=@Model.AnhMoTa />
    </div>
    <div class="card-footer text-muted">
        Giá bán: @Model.GiaBan
    </div>
</div>